<div class="container">
  <div class="col-9  mx-auto">
    <b> {{post.user}}</b>
    <div class="card shadow-sm mb-4">
      <img class="card-img-top" src="../../../assets/download.svg" alt="Card image cap">
      <div class="card-body">
        <ul class="list-inline">
          <li class="list-inline-item"><i class="fa fa-picture-o" aria-hidden="true"></i> Pixel : {{post.likeCount}}
          </li>
          <li class="list-inline-item"><i class="fa fa-commenting-o" aria-hidden="true"></i> Comments
            : {{post.commentCount}}</li>
        </ul>
        <p><b>{{post.user}}</b> {{post.description}}</p>
      </div>
      <div *ngFor="let comment of comments">
        <p><b>{{comment.user}}</b> {{comment.content}}</p>
      </div>
    </div>
    <div class="col-1">
    <button type="button" (click)="fetchNextComments()" class="btn btn-info" *ngIf="hasMoreComments">View Comments</button>
    </div>
  </div>

</div>
